
// 颜色定义规范
$color-deep-background: hsl(222, 14%, 10%);
$color-normal-background: #20232a;
// 不同状态颜色
$color-success: #5cbb7a;
$color-primary: #d9534f;
$color-warning: #e6a422;
$color-danger: #cc3333;
$color-info: #8896b3;
// hover效果颜色
$color-normal-hover: #f0f0f0;
$color-primary-deep-hover: #ae423f;
$color-primary-light-hover: #fbeded;
// 字体颜色
$color-text-base: #fff;
$color-text-active: #ffffff;
$color-text-plain: #dd6460;
// 字体定义规范
$font-size-xs: 12px;
$font-size-s: 13px;
$font-size-m: 14px;
$font-size-l: 15px;
$font-size-xl: 16px;
$font-size-xxl: 17px;
$font-size-xxxl: 18px;
$font-size-xxxxl: 19px;
$font-size-xxxxxl: 20px;
$font-size-xxxxxxl: 21px;
$font-size-xxxxxxxl: 22px;
